{% load static %}

<div class="flex flex-col items-center gap-3 w-full bg-red-400">
    <div class="bg-red-500 w-10/12 p-5 text-5xl">
        <h1>Test 1</h1>
        <h1>Test 1</h1>
        <h1>Test 1</h1>
        <h1>Test 1</h1>
    </div>
    <div class="bg-red-700 w-10/12 p-5 text-5xl">
        <h1>Test 2</h1>
        <h1>Test 2</h1>
        <h1>Test 2</h1>
        <h1>Test 2</h1>
    </div>
    <div class="bg-red-800 w-10/12 p-5 text-5xl">
        <h1>Test 3</h1>
        <h1>Test 3</h1>
        <h1>Test 3</h1>
        <h1>Test 3</h1>
    </div>
    <div class="bg-red-800 w-10/12 p-5 text-5xl">
        <h1>Test 4</h1>
        <h1>Test 4</h1>
        <h1>Test 4</h1>
        <h1>Test 4</h1>
    </div>
    <div class="bg-red-800 w-10/12 p-5 text-5xl">
        <h1>Test 5</h1>
        <h1>Test 5</h1>
        <h1>Test 5</h1>
        <h1>Test 5</h1>
        <h1>Test 5</h1>
    </div>
    <div class="bg-red-800 w-10/12 p-5 text-5xl">
        <h1>Test 6</h1>
        <h1>Test 6</h1>
        <h1>Test 6</h1>
        <h1>Test 6</h1>
    </div>
    <div class="bg-red-800 w-10/12 p-5 text-5xl">
        <h1>Test 7</h1>
        <h1>Test 7</h1>
        <h1>Test 7</h1>
        <h1>Test 7</h1>
        <h1>Test 7</h1>
    </div>
</div>